html{
    background-color: black;
    background-image: none;
}
h1{
    position: relative;
    text-align: center;
    font-size: 1.8em;
    color: #5d00ff;
    font-style: italic;
}
.btn1{
    color: aquamarine;
    background-color: black;
    position: relative;
    top: 150px;
}